{% extends "base.html" %}
  
  	{% block content %}
  	
  	<div class="container">
  		
		<h1>My Songs:</h1>
		<p>
			<div class="span8">
				<ul class="playlist dark">
					{% for song in songs %}
					<p>
						<li>
							<a href="{{ song.mp3_url }}">{{ song.title }}: {{ song.likes }} People Like This</a>
							<p>
 								<form action="/likesong?key={{ song.key }}" method="post">
									<input type="submit" value="Like Song" />
								</form> 
							</p>
						</li>
					</p>
					{% endfor %}
				</ul>
			</div>  		
	
	    <a href="{{ url }}">{{ url_linktext }}</a>
    
    </div>

<!-- </html> -->
{% endblock content %}